<div class="<%= wrapper_classes %>">
  <div class="<%= icon_classes %>">
    <%= image_tag "sleeping.png", class: "w-24 h-24 object-contain inline-block", alt: "Resting character" %>
  </div>

  <p class="<%= message_classes %>"><%= @message %></p>

  <% if action? %>
    <div class="mt-6">
      <%= action %>
    </div>
  <% end %>
</div>
