<div class="<%= wrapper_classes %>">
  <% if icon? %>
    <div class="<%= icon_classes %>">
      <%= icon %>
    </div>
  <% end %>

  <p class="<%= message_classes %>"><%= @message %></p>

  <% if action? %>
    <div class="mt-6">
      <%= action %>
    </div>
  <% end %>
</div>
